variables:
  DEBIAN_FRONTEND: noninteractive
  LC_ALL: C
  GIT_STRATEGY: fetch
  DOCKER_CMD: docker --config="$HOME/.docker/$CI_JOB_ID/"
  IMG_BASE: registry.labs.nic.cz/mvaner/bird

stages:
  - image
  - build

.docker: &docker_build
  stage: image
  allow_failure: true
  script:
  - $DOCKER_CMD login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.labs.nic.cz
  - $DOCKER_CMD build -t "bird:$IMG_NAME" "ci/docker/$IMG_NAME"
  - $DOCKER_CMD tag "bird:$IMG_NAME" "$IMG_BASE:$IMG_NAME"
  - $DOCKER_CMD push "$IMG_BASE:$IMG_NAME"
  after_script:
  - rm -f "$HOME/.docker/$CI_JOB_ID/" # cleanup the credentials
  tags:
  # That's Docker in Docker
  - dind

docker_debian:
  variables:
    IMG_NAME: "debian"
  <<: *docker_build

docker_debian-32:
  variables:
    IMG_NAME: "debian-32"
  <<: *docker_build

docker_fedora:
  variables:
    IMG_NAME: "fedora"
  <<: *docker_build

docker_centos:
  variables:
    IMG_NAME: "centos"
  <<: *docker_build

.debian-32: &debian-32_env
  image: registry.labs.nic.cz/mvaner/bird:debian-32
  tags:
  - docker
  - linux
  - amd64

.debian: &debian_env
  image: registry.labs.nic.cz/mvaner/bird:debian
  tags:
  - docker
  - linux
  - amd64

.fedora: &fedora_env
  image: registry.labs.nic.cz/mvaner/bird:fedora
  tags:
  - docker
  - linux
  - amd64

.centos: &centos_env
  image: registry.labs.nic.cz/mvaner/bird:centos
  tags:
  - docker
  - linux
  - amd64

.freebsd-32: &freebsd-32_env
  variables:
    CFLAGS: "-I/usr/local/include -L/usr/local/lib"
  tags:
  - freebsd
  - i386
  #only:
  #- master
  #- triggers
  #- tags

.freebsd: &freebsd_env
  variables:
    CFLAGS: "-I/usr/local/include -L/usr/local/lib"
  tags:
  - freebsd
  - amd64
  #only:
  #- master
  #- triggers
  #- tags

.build: &build_job
  stage: build
  script:
  - autoreconf
  - ./configure --enable-ipv6=$IPV6
  # Detect which make is available
  - MAKE=make
  - which gmake 2>/dev/null >/dev/null && MAKE=gmake
  - $MAKE
  # Run tests if they are available (eg. don't fail if "check" isn't a valid make target)
  - $MAKE check || [ "$?" = 2 ]

build-debian:
  variables:
    IPV6: "no"
  <<: *debian_env
  <<: *build_job

build-debian-v6:
  variables:
    IPV6: "yes"
  <<: *debian_env
  <<: *build_job

build-fedora:
  variables:
    IPV6: "no"
  <<: *fedora_env
  <<: *build_job

build-fedora-v6:
  variables:
    IPV6: "yes"
  <<: *fedora_env
  <<: *build_job

build-centos:
  variables:
    IPV6: "no"
  <<: *centos_env
  <<: *build_job

build-centos-v6:
  variables:
    IPV6: "yes"
  <<: *centos_env
  <<: *build_job

build-debian-32:
  variables:
    IPV6: "no"
  <<: *debian-32_env
  <<: *build_job

build-debian-32-v6:
  variables:
    IPV6: "yes"
  <<: *debian-32_env
  <<: *build_job

build-freebsd:
  variables:
    IPV6: "no"
  <<: *freebsd_env
  <<: *build_job

build-freebsd-v6:
  variables:
    IPV6: "yes"
  <<: *freebsd_env
  <<: *build_job

build-freebsd-32:
  variables:
    IPV6: "no"
  <<: *freebsd-32_env
  <<: *build_job

build-freebsd-32-v6:
  variables:
    IPV6: "yes"
  <<: *freebsd-32_env
  <<: *build_job
